@import 'shared';

#eventName {
  font-size: 2.5em;
  font-weight: 400;
}
.EventContainer p {
  font-weight: 300;
}
.ProgressContainer {
  background: transparentize(black, 0.87);
}
#tickets {
  margin-bottom: 1em;
  h2 {
    margin-top: 0.25em;
  }
  .btn {
    width: 100%;
  }
}
.EventArtistCard {
  @include vendor-prefix(background-size, cover);
  padding-bottom: 50%;
  width: 50%;
  &.ArtistCard3 {
    padding-bottom: 33%;
    width: 33%;
  }
  &.ArtistCard4 {
    padding-bottom: 25%;
    width: 25%;
  }
}