@import "shared";
.EventBanner {
  background: image-url('geazy2.jpg') no-repeat;
  background-position: 0 -40px;
  background-size: 100%;
  border-radius: 4px;
  color: white;
  margin: 1em 0;
  overflow: hidden;
  padding: 1em;
  .EventDetailsBackground {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 25%;
    top: 0;
  }
  .EventDetailsBlur {
    background: image-url('geazy2.jpg') no-repeat;
    background-position: 0 -40px;
    background-size: 133.333333333%;
    @include vendor-prefix(filter, 'blur(1px)');
  }
  .EventDetailsDarken {
    background: -moz-linear-gradient(left, rgba(14,14,14,0.8) 20%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(20%,rgba(14,14,14,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(14,14,14,0.8) 20%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(14,14,14,0.8) 20%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(14,14,14,0.8) 20%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(14,14,14,0.8) 20%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0e0e0e', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }
}